header{
    background-color: #f1f3ff;
    width: 100%;
    position: fixed;
    z-index: 100;
}
main li{
    background-color: white;
    list-style: none;
}
main .text{
    padding-left: 15%;
    padding-top: 15% ;
}
main .contents-items2{
    padding-left: 15%;
}
body{
    background-color: white;
}
footer{
    background-color: white;
}
.container-fluid{
    background-color: white;
}
.container{
    background-color: white;
}
.card-body1{
    background-color: #0D28A6;
    width: 100%;
    height: 326px;
    border-radius: 13px;
    padding-top: 10%;
}

.card-body3{
    background-color: white;
    border: 1px solid #7e7d7d;
    width: 700px;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.img-area img {
    width: 70px;
    height: 70px;
    margin-top: 30px;
}

.text-img .bi-star-fill {
    color: #F9CC00;
}

.text-img .bi-star-half {
    color: #F9CC00;
}
.btn-carousel {
    display: flex;
    justify-content: center;
}

.carousel-control {
    background: #5CB85F;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.carousel button {
    border-radius: 100%;
    margin: 5px 15px;

}

.tombol-crsl {
    width: 15px;
    height: 15px;

}